<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Safety Report app</title>
    </head>

    <body>
        <h1>Add Safety Report</h1>

        <form method="POST">
            {% csrf_token %}
            <label>Date</label>
            <input type="date" name="date"/>
            <br/>
            <label>Describe what happened?</label>
            <input type="text" name="description" />
            <br/>
            <label>Reviewer</label>
            <select name="reviewer">
                {% for user in users %}
                    <option value="{{user.username}}">{{user.username}}</option>
                {% endfor %}
            </select>
            <br/>
            <input type="submit" />
        </form>
    </body>
</html>
